*,*::before,*::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family:'League Spartan', sans-serif;
}

:root{
   
    --dk-violet: hsl(268, 75%, 9%);
    --lt-violet: hsl(268, 47%, 21%);
    --lt-violet2: hsl(281, 89%, 26%);
    --vb-violet: hsl(285, 91%, 52%);
    --vb-violet2: hsl(290, 70%, 36%);
  
    --vb-yellow: hsl(52, 100%, 62%);
  
  
    --pl-white: hsl(0, 0%, 100%);
  
    --vb-cyan: hsl(176, 100%, 44%);
    --vb-cyan2: hsl(177, 92%, 70%);
    --dk-text: hsl(198, 20%, 13%);

    --dk-blue:#040c38;
}

body{
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    /* background: rgb(2,0,36); */
    background: linear-gradient(180deg, rgba(2,0,36,1) 0%, rgba(9,53,121,1) 35%, rgba(0,212,255,1) 100%);

}

.container{
    width: 90%;
    max-width: 400px;
    /* border: 1px solid red; */
}

h1{
    color: rgb(168, 168, 209);
    margin-left: 15%;
    
} 

.display-container{
    background-color: var(--dk-blue);
    padding: 5px;
    border-radius: 5px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 0.35rem solid rgb(9, 205, 205);
}  
.display{
    width: 100%;
    background-color: transparent;
    border: none;
    padding:7px;
    color: rgb(9, 205, 205);
    font-weight: 600;
    font-size: 1.5rem;
    /* line-height: 30px; */
    letter-spacing: 1px;
    padding-right:3.25rem ;

}
.display::placeholder{
    position: absolute;
    top: 20%;
    /* left: 1.5rem; */
    font-size: 1.5rem;
    color: rgb(9, 205, 205);
    /* background-color: var(--dk-blue); */
    opacity: 0.65;
}

.display-container button{
    width: 25px;
    height: 25px;
    margin-top: 6px;
    background-color: transparent;
    border: none;
    cursor: pointer;

}

.input-container{
    background-color: var(--dk-blue);
    margin-top: 10px;
    border-radius: 5px;
    padding: 10px;
}

.check{
    color: whitesmoke;
    margin: 3px 0;
    display: flex;
    align-items: center;
    gap: 5px;
}
.strength-container{
    display: flex;
    justify-content: space-between;
}

.strength-container p{
    color: whitesmoke;
    font-size: large;
    font-weight: bold;
    margin:15px 0;
    /* border: 1px solid white; */

}
.length-container{
    display: flex;
    justify-content: space-between;
    font-size: large;
    font-weight: bold;
}

.length-container p{
    color: whitesmoke;;
}

#num{
    color: var(--vb-yellow);
}

.slider{
    appearance: none ;
    width: 100%;
    margin:15px 0;
    cursor: pointer;
    background-color: rgb(40, 135, 231);
    border-radius: 10px;
    height: 10px;
  

}
.slider:focus{
    outline:2px solid yellow;
    /* z-index: -1; */
}

.slider::-webkit-slider-thumb{
     appearance: none;
     position: relative;
     height: 1.5rem;
     border-radius: 50%;
     width: 1.5rem;
     background-color: yellow;
     box-shadow: 0px 0px 12px 1px yellow;
}
.slider::-webkit-slider-thumb:hover{
     background-color: black;
     box-shadow: 0px 0px 12px 1px yellow;
     border: 1px solid yellow;
}
 
.indicator{
    border-radius: 50%;
    width: 18px;
    height: 18px;
    margin-top: 15px;
}

.generateButton{
    width: 100%;
    height: 40px;
    color: var(--vb-yellow);
    background-color: rgb(40, 135, 231);
    border-bottom: 0.35rem solid var(--vb-yellow);
    border-top: rgb(40, 135, 231);
    border-left: rgb(40, 135, 231);
    border-right: rgb(40, 135, 231);
    border-radius: 5px;
    font-size: large;
    cursor: pointer;
}

.check input{
    appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid rgb(40, 135, 231);
    cursor: pointer;
    position: relative;
    border-radius: 0.35rem;
}

.check input:checked{
    background-color: rgb(40, 135, 231);
}


.check input:checked::before{
    content: '✓';
    position: absolute;
    font-weight:bolder;
    left: 5px;
}

.tooltip{
    color: yellow;
    position: absolute;
    background-color: rgb(40, 135, 231);
    position: absolute;
    left: 84%;
    top: -12px;
    padding: 5px 10px;
    border-radius:1rem;
    height: 20px;
    opacity: 0;
    transform: scale(0);
    transform-origin: bottom;
    
    transition: all 250ms ease-in-out;
}

.tooltip.active{
    opacity: 1;
    transform: scale(1);
}